.admin-container {
  position: relative;
  height: 100vh;
  background: #4d535a;
  display: flex;
  justify-content: center;
  align-items: center;
  .row-1 {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    .textbox-col {
      position: relative;
      height: 100%;
      width: 100%;
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .desc-h1 {
        color: white;
      }
      form {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .input-box {
          position: relative;
          width: 600px;
          height: 200px;
          margin-bottom: 20px;
          background: #354060;
          border: 3px solid #252c42;
          border-radius: 20px;
          text-align: top;
          color: white;
          &:focus {
            outline: none;
            border: 5px solid #252c42;
          }
        }
        .submit-btn {
          position: relative;
          width: 150px;
          height: 50px;
          align-self: flex-end;
          background: none;
          border: 4px solid #354060;
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.397);
          border-radius: 20px;
          color: white;
          text-transform: uppercase;
          transition: 0.5s;
          font-weight: 600;
          font-size: 20px;
          &:hover {
            box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.411);
          }
        }
      }
    }
    .description-p {
      position: relative;
      font-size: 40px;
      text-align: center;
      border-radius: 20px;
      height: 150px;
      width: 600px;
      background: #354060;
      border: 2px solid black;
    }
  }
  .photo-col {
    position: relative;
    display: flex;
    justify-content: center;
    height: 800px;
    border-radius: 20px;
    background: #22272c;
    .dropzone-row {
      position: relative;
      height: 200px;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='11' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

      background-color: #354060;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        position: relative;
        background: none;
        height: 90%;
        width: 90%;
        input#file-upload-button {
          background: red;
        }
      }
    }
  }
}
.photo-cont {
  position: relative;
  background: #252c42;
  height: 500px;
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  .images {
    position: relative;
    height: 50%;
    width: 50%;
  }
}
