@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.admin-container {
  position: relative;
  height: 100vh;
  padding-top: 50px;
  background: #1a1d24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1300px) {
  .admin-container {
    height: 100%;
  }
}

.admin-container .welcome-h1 {
  position: absolute;
  color: white;
  width: 100%;
  top: 6%;
  text-shadow: 0px 10px 10px black;
  text-align: center;
  font-size: 100px;
  z-index: 1;
  font-family: "Anton", sans-serif;
  -webkit-animation: loadin 2s;
          animation: loadin 2s;
  letter-spacing: 5px;
}

.admin-container .row-1 {
  position: relative;
  height: 700px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1600px) {
  .admin-container .row-1 {
    width: 100%;
  }
}

.admin-container .row-1 .textbox-col {
  position: relative;
  height: 100%;
  width: 100%;
  background: #22272c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -10px 0px 20px black;
          box-shadow: -10px 0px 20px black;
}

.admin-container .row-1 .textbox-col .desc-h1 {
  color: white;
}

.admin-container .row-1 .textbox-col .return-h1 {
  color: white;
}

.admin-container .row-1 .textbox-col form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  overflow-y: auto;
}

@media screen and (max-width: 1600px) {
  .admin-container .row-1 .textbox-col form {
    width: 100%;
  }
}

.admin-container .row-1 .textbox-col form .input-box {
  position: relative;
  width: 600px;
  height: 200px;
  margin-bottom: 20px;
  padding: 20px 20px;
  background: #354060;
  border: 3px solid #252c42;
  border-radius: 20px;
  text-align: top;
  color: white;
}

@media screen and (max-width: 1600px) {
  .admin-container .row-1 .textbox-col form .input-box {
    width: 100%;
  }
}

.admin-container .row-1 .textbox-col form .input-box:focus {
  outline: none;
  border: 5px solid #252c42;
}

.admin-container .row-1 .textbox-col form .submit-btn {
  position: relative;
  width: 100%;
  height: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: none;
  border: 4px solid #354060;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.397);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.397);
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 600;
  font-size: 20px;
}

.admin-container .row-1 .textbox-col form .submit-btn:hover {
  -webkit-box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.411);
          box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.411);
}

.admin-container .row-1 .description-p {
  position: relative;
  font-size: 20px;
  padding: 10px 50px;
  text-align: center;
  border-radius: 20px;
  height: 150px;
  width: 600px;
  background: #354060;
  border: 2px solid black;
  color: white;
  overflow-y: auto;
}

@media screen and (max-width: 1600px) {
  .admin-container .row-1 .description-p {
    width: 400px;
  }
}

.admin-container .row-1 .photo-col {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background: #22272c;
  -webkit-box-shadow: 20px 0px 20px black;
          box-shadow: 20px 0px 20px black;
}

.admin-container .row-1 .photo-col .dropzone-row {
  position: relative;
  height: 100px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='11' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  width: 100%;
  left: 15px;
  background-color: #354060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.admin-container .row-1 .photo-col .dropzone-row input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  height: 100%;
  width: 100%;
}

.admin-container .row-1 .photo-col .photo-cont {
  position: relative;
  background: #252c42;
  height: 400px;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
}

@media screen and (max-width: 1600px) {
  .admin-container .row-1 .photo-col .photo-cont {
    width: 600px;
  }
}

.admin-container .row-1 .photo-col .photo-cont .images {
  position: relative;
  height: 50%;
  width: 50%;
}

.admin-container .row-1 .photo-col .button-container {
  position: relative;
  width: 100%;
  height: 100px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-container .row-1 .photo-col .button-container .button-post {
  width: 250px;
  height: 60px;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid black;
  color: white;
  font-family: "Anton", sans-serif;
  background: rgba(26, 29, 36, 0.45);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.admin-container .row-1 .photo-col .button-container .button-post:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.616);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.616);
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.admin-container .logout {
  position: absolute;
  background: none;
  bottom: 0px;
  right: 5%;
  border: 3px solid white;
  border-radius: 30px;
  height: 50px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.admin-container .logout:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  text-decoration: none;
  background: white;
  color: black;
}

@-webkit-keyframes loadin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes loadin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=admin.css.map */