@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
.contact-container {
  position: relative;
  height: 100vh;
  background: linear-gradient(87deg, #00a3ff, #e60505, #4acdea, #00aef0, #d41010);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container .alert-box {
  position: absolute;
  background: whitesmoke;
  border-radius: 10px;
  top: 20px;
  height: 100px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.397);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.397);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1000;
}

@media screen and (max-width: 1000px) {
  .contact-container .alert-box {
    top: 100px;
  }
}

.contact-container .alert-box .success-line {
  position: absolute;
  height: 85%;
  width: 5px;
  left: 8px;
  border-radius: 10px;
  background: #52b788;
}

.contact-container .alert-box .success-icon {
  position: absolute;
  left: 30px;
  font-size: 60px;
  padding: 10px;
  color: #b7e4c7;
  background: #2d6a4f;
  border-radius: 50%;
}

.contact-container .alert-box .info-section {
  position: relative;
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  padding-top: 10px;
}

.contact-container .alert-box .info-section h1 {
  font-size: 30px;
  margin-bottom: 0px;
  color: #40916c;
}

.contact-container .alert-box .info-section p {
  font-size: 12px;
  color: #1b4332;
  width: 100%;
}

.contact-container .alert-box .close-window {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  background: #2d6a4f;
  color: #d8f3dc;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-container .alert-box .close-window:hover {
  color: #2d6a4f;
  background: #d8f3dc;
}

.contact-container .small {
  top: 200px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 0;
}

.contact-container .hidden {
  opacity: 0;
  top: -200px;
}

.contact-container .contact-row {
  position: relative;
  height: 700px;
  width: 65%;
  top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 1200px) {
  .contact-container .contact-row {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .contact-container .contact-row {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .contact-container .contact-row {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .contact-container .contact-row {
    width: 100%;
  }
}

@media screen and (max-height: 1200px) {
  .contact-container .contact-row {
    height: 600px;
  }
}

@media screen and (max-height: 650px) {
  .contact-container .contact-row {
    height: 80%;
    width: 95%;
  }
}

.contact-container .contact-row .contact-info-col {
  position: relative;
  height: 100%;
  border-radius: 10px;
  background: url("../assets/waves.png");
  background-size: cover;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  -webkit-box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.315);
          box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.315);
}

@media screen and (max-width: 800px) {
  .contact-container .contact-row .contact-info-col {
    display: none;
  }
}

.contact-container .contact-row .contact-info-col .logo-container {
  position: relative;
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px;
}

.contact-container .contact-row .contact-info-col .logo-container .logo-img {
  position: absolute;
  width: 90%;
  right: 30px;
}

.contact-container .contact-row .contact-info-col h1 {
  position: relative;
  color: white;
  top: 0px;
  text-transform: uppercase;
  font-size: 30px;
  padding: 0px 10px;
  width: 100%;
  z-index: 1;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.384);
}

@media screen and (max-width: 900px) {
  .contact-container .contact-row .contact-info-col h1 {
    padding: 0px 0px;
    text-align: center;
  }
}

.contact-container .contact-row .contact-info-col p {
  position: relative;
  width: 100%;
  padding: 0px 10px;
  color: white;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .contact-container .contact-row .contact-info-col p {
    padding: 0px 0px;
    font-size: 15px;
    text-align: left;
  }
}

.contact-container .contact-row .contact-info-col .contact-list {
  position: relative;
  width: 100%;
  height: 30%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.contact-container .contact-row .contact-info-col .contact-list .list-item {
  list-style: none;
  font-size: 20px;
  padding: 10px 10px;
  color: white;
  font-weight: 600;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.555);
}

@media screen and (max-width: 900px) {
  .contact-container .contact-row .contact-info-col .contact-list .list-item {
    padding: 10px 0px;
    font-size: 17px;
  }
}

.contact-container .contact-row .contact-info-col .stars {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 90%;
  background: none;
}

.contact-container .contact-row .contact-info-col .stars .star1,
.contact-container .contact-row .contact-info-col .stars .star2,
.contact-container .contact-row .contact-info-col .stars .star3,
.contact-container .contact-row .contact-info-col .stars .star4,
.contact-container .contact-row .contact-info-col .stars .star5 {
  position: absolute;
  bottom: -20%;
}

.contact-container .contact-row .contact-info-col .stars .star1 {
  -webkit-animation: down2up 5s infinite linear;
          animation: down2up 5s infinite linear;
}

.contact-container .contact-row .contact-info-col .stars .star2 {
  left: 50%;
  -webkit-animation: down2up 3.5s infinite linear;
          animation: down2up 3.5s infinite linear;
}

.contact-container .contact-row .contact-info-col .stars .star3 {
  left: 30%;
  -webkit-animation: down2up 5.5s infinite linear;
          animation: down2up 5.5s infinite linear;
}

.contact-container .contact-row .contact-info-col .stars .star4 {
  left: 80%;
  -webkit-animation: down2up 6s infinite linear;
          animation: down2up 6s infinite linear;
}

.contact-container .contact-row .contact-info-col .stars .star5 {
  left: 65%;
  -webkit-animation: down2up 6.6s infinite linear;
          animation: down2up 6.6s infinite linear;
}

.contact-container .contact-row .contact-form-col {
  position: relative;
  height: 100%;
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.315);
          box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.315);
  padding: 0px;
}

@media screen and (max-width: 1200px) {
  .contact-container .contact-row .contact-form-col {
    border-radius: 20px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 800px) {
  .contact-container .contact-row .contact-form-col {
    width: 100%;
  }
}

.contact-container .contact-row .contact-form-col .logo {
  position: absolute;
  z-index: 0;
  top: -43%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact-container .contact-row .contact-form-col .logo:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media screen and (max-width: 1200px) {
  .contact-container .contact-row .contact-form-col .logo {
    height: 400px;
    top: -38%;
  }
}

@media screen and (max-width: 550px) {
  .contact-container .contact-row .contact-form-col .logo {
    height: 300px;
    width: 300px;
    top: -30%;
  }
}

@media screen and (max-height: 700px) {
  .contact-container .contact-row .contact-form-col .logo {
    display: none;
  }
}

.contact-container .contact-row .contact-form-col .contact-us-h1 {
  position: absolute;
  top: 0px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: #1d3557;
}

@media screen and (max-width: 450px) {
  .contact-container .contact-row .contact-form-col .contact-us-h1 {
    font-size: 50px;
    top: 30px;
  }
}

@media screen and (max-width: 380px) {
  .contact-container .contact-row .contact-form-col .contact-us-h1 {
    font-size: 40px;
    top: 30px;
  }
}

@media screen and (max-width: 300px) {
  .contact-container .contact-row .contact-form-col .contact-us-h1 {
    font-size: 35px;
    top: 30px;
  }
}

.contact-container .contact-row .contact-form-col form {
  position: relative;
  height: 90%;
  width: 90%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 50px;
}

.contact-container .contact-row .contact-form-col form .name-inputs {
  position: relative;
  background: none;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container .contact-row .contact-form-col form .name-inputs .name-input {
  position: relative;
  border: 0px;
  border-bottom: 5px solid black;
  height: 50px;
  width: 45%;
  padding-left: 10px;
  color: black;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: -webkit-gradient(linear, left top, right top, from(#00a3ff), to(#d41010)) center bottom/0 2px no-repeat, -webkit-gradient(linear, left top, right top, from(black), to(black)) left bottom/100% 2px no-repeat, -webkit-gradient(linear, left top, right top, from(white), to(white)) left bottom/100% 100% no-repeat;
  background: linear-gradient(90deg, #00a3ff, #d41010) center bottom/0 2px no-repeat, linear-gradient(90deg, black, black) left bottom/100% 2px no-repeat, linear-gradient(90deg, white, white) left bottom/100% 100% no-repeat;
  -webkit-transition: background-size 0.3s ease;
  transition: background-size 0.3s ease;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  outline: none;
  font-size: 15px;
}

.contact-container .contact-row .contact-form-col form .name-inputs .name-input:valid, .contact-container .contact-row .contact-form-col form .name-inputs .name-input:focus {
  background-size: 100% 2px, 100% 2px, 100%;
}

.contact-container .contact-row .contact-form-col form .name-inputs .name-input:focus {
  outline: none;
}

.contact-container .contact-row .contact-form-col form .text-box-container {
  position: relative;
  min-height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .contact-row .contact-form-col form .text-box-container .textbox {
  position: relative;
  height: 90%;
  width: 95%;
  border: 0px solid black;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.089);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.089);
  padding: 10px 10px;
  border-radius: 10px;
}

.contact-container .contact-row .contact-form-col form .text-box-container .textbox:focus {
  outline: none;
}

@media screen and (max-height: 650px) {
  .contact-container .contact-row .contact-form-col form .text-box-container .textbox {
    height: 100px;
  }
}

.contact-container .contact-row .contact-form-col form .submit-message {
  position: absolute;
  bottom: 10px;
  right: 12px;
  padding: 10px 50px;
  border-radius: 10px;
  background: #1d3557;
  color: #a8dadc;
  text-transform: uppercase;
  border: none;
  font-family: "Roboto", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact-container .contact-row .contact-form-col form .submit-message:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background: #a8dadc;
  color: #1d3557;
}

@media screen and (max-width: 600px) {
  .contact-container .contact-row .contact-form-col form .submit-message {
    width: 100%;
    right: 0px;
  }
}

@media screen and (max-height: 1000px) {
  .contact-container .contact-row .contact-form-col form .submit-message {
    padding: 10px 50px;
    height: 50px;
    top: 90%;
  }
  .contact-container .contact-row .contact-form-col form .submit-message:hover {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media screen and (max-height: 650px) {
  .contact-container .contact-row .contact-form-col form .submit-message {
    bottom: 0%;
    background: black;
    color: white;
  }
}

@-webkit-keyframes down2up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
}

@keyframes down2up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*# sourceMappingURL=contact.css.map */