.contact-container {
  position: relative;
  height: 100vh;
  background: linear-gradient(
    87deg,
    #00a3ff,
    #e60505,
    #4acdea,
    #00aef0,
    #d41010
  );
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  .contact-row {
    position: relative;
    height: 650px;
    width: 70%;
    top: 5%;
    background: none;
    display: flex;
    flex-direction: row;
    .contact-info-col {
      position: relative;
      height: 100%;
      border-radius: 20px;
      background: rgb(223, 18, 46);
      background: linear-gradient(
        147deg,
        rgba(223, 18, 46, 1) 10%,
        rgba(0, 212, 255, 1) 87%
      );
      left: 20px;
      display: flex;
      flex-direction: column;
      z-index: 1;
      box-shadow: -10px 5px 20px black;

      h1 {
        position: relative;
        color: white;
        top: 20px;
        font-size: 40px;
        padding: 0px 10px;
        width: 100%;
        z-index: 1;
        text-shadow: 0px 5px 10px black;
      }
      p {
        position: relative;
        width: 100%;
        padding: 20px 10px;
        color: white;
        z-index: 1;
      }
      .contact-list {
        position: relative;
        width: 100%;
        height: 30%;
        background: none;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        z-index: 1;
        .list-item {
          list-style: none;
          font-size: 20px;
          padding: 10px 10px;
          color: white;
          font-weight: 600;
        }
      }
      .stars {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 90%;
        background: none;
        .star1,
        .star2,
        .star3,
        .star4,
        .star5 {
          position: absolute;
          bottom: -20%;
        }
        .star1 {
          animation: down2up 5s infinite linear;
        }
        .star2 {
          left: 50%;
          animation: down2up 3.5s infinite linear;
        }
        .star3 {
          left: 30%;
          animation: down2up 5.5s infinite linear;
        }
        .star4 {
          left: 80%;
          animation: down2up 6s infinite linear;
        }
        .star5 {
          left: 65%;
          animation: down2up 6.6s infinite linear;
        }
      }
    }
    .contact-form-col {
      position: relative;
      height: 100%;
      background: whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: 0px 5px 20px black;
      .logo {
        position: absolute;
        z-index: 0;
        top: -43%;
        transition: 0.5s;
        &:hover {
          transform: translateY(-5px);
        }
      }
      form {
        position: relative;
        height: 100%;
        top: 0%;
        background: none;
        width: 100%;
        z-index: 2;
        .name-inputs {
          position: relative;
          background: none;
          height: 200px;
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          .name-input {
            position: relative;
            border: 0px;
            border-bottom: 5px solid black;
            height: 50px;
            width: 45%;
            padding-left: 10px;
            color: black;
            border: none;
            appearance: none;
            background: linear-gradient(90deg, #00a3ff, #d41010) center bottom/0
                2px no-repeat,
              linear-gradient(90deg, black, black) left bottom/100% 2px
                no-repeat,
              linear-gradient(90deg, white, white) left bottom/100% 100%
                no-repeat;
            transition: background-size 0.3s ease;
            border-radius: 0;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            outline: none;
            font-size: 15px;

            &:valid,
            &:focus {
              background-size: 100% 2px, 100% 2px, 100%;
            }
            &:focus {
              outline: none;
            }
          }
          .textbox {
            position: relative;
            height: 150px;
            top: -30%;
            width: 95%;
            border: 0px solid black;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.404);
            padding: 10px 10px;
            resize: none;
            &:focus {
              outline: none;
            }
          }
        }
        .submit-message {
          position: absolute;
          bottom: 5%;
          right: 5%;
          padding: 10px 50px;
          background: none;
          transition: 0.5s;
          &:hover {
            transform: translateY(-10px);
          }
        }
      }
    }
  }
}
@keyframes down2up {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-600px);
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
