.contact-container {
  position: relative;
  height: 100vh;
  background: linear-gradient(87deg, #00a3ff, #e60505, #4acdea, #00aef0, #d41010);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container .contact-row {
  position: relative;
  height: 650px;
  width: 70%;
  top: 5%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-container .contact-row .contact-info-col {
  position: relative;
  height: 100%;
  border-radius: 20px;
  background: #df122e;
  background: linear-gradient(147deg, #df122e 10%, #00d4ff 87%);
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  -webkit-box-shadow: -10px 5px 20px black;
          box-shadow: -10px 5px 20px black;
}

.contact-container .contact-row .contact-info-col h1 {
  position: relative;
  color: white;
  top: 20px;
  font-size: 40px;
  padding: 0px 10px;
  width: 100%;
  z-index: 1;
  text-shadow: 0px 5px 10px black;
}

.contact-container .contact-row .contact-info-col p {
  position: relative;
  width: 100%;
  padding: 20px 10px;
  color: white;
  z-index: 1;
}

.contact-container .contact-row .contact-info-col .contact-list {
  position: relative;
  width: 100%;
  height: 30%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.contact-container .contact-row .contact-info-col .contact-list .list-item {
  list-style: none;
  font-size: 20px;
  padding: 10px 10px;
  color: white;
  font-weight: 600;
}

.contact-container .contact-row .contact-info-col .stars {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 90%;
  background: none;
}

.contact-container .contact-row .contact-info-col .stars .star1,
.contact-container .contact-row .contact-info-col .stars .star2,
.contact-container .contact-row .contact-info-col .stars .star3,
.contact-container .contact-row .contact-info-col .stars .star4,
.contact-container .contact-row .contact-info-col .stars .star5 {
  position: absolute;
  bottom: -20%;
}

.contact-container .contact-row .contact-info-col .stars .star1 {
  -webkit-animation: down2up 5s infinite linear;
          animation: down2up 5s infinite linear;
}

.contact-container .contact-row .contact-info-col .stars .star2 {
  left: 50%;
  -webkit-animation: down2up 3.5s infinite linear;
          animation: down2up 3.5s infinite linear;
}

.contact-container .contact-row .contact-info-col .stars .star3 {
  left: 30%;
  -webkit-animation: down2up 5.5s infinite linear;
          animation: down2up 5.5s infinite linear;
}

.contact-container .contact-row .contact-info-col .stars .star4 {
  left: 80%;
  -webkit-animation: down2up 6s infinite linear;
          animation: down2up 6s infinite linear;
}

.contact-container .contact-row .contact-info-col .stars .star5 {
  left: 65%;
  -webkit-animation: down2up 6.6s infinite linear;
          animation: down2up 6.6s infinite linear;
}

.contact-container .contact-row .contact-form-col {
  position: relative;
  height: 100%;
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px black;
          box-shadow: 0px 5px 20px black;
}

.contact-container .contact-row .contact-form-col .logo {
  position: absolute;
  z-index: 0;
  top: -43%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact-container .contact-row .contact-form-col .logo:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.contact-container .contact-row .contact-form-col form {
  position: relative;
  height: 100%;
  top: 0%;
  background: none;
  width: 100%;
  z-index: 2;
}

.contact-container .contact-row .contact-form-col form .name-inputs {
  position: relative;
  background: none;
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container .contact-row .contact-form-col form .name-inputs .name-input {
  position: relative;
  border: 0px;
  border-bottom: 5px solid black;
  height: 50px;
  width: 45%;
  padding-left: 10px;
  color: black;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: -webkit-gradient(linear, left top, right top, from(#00a3ff), to(#d41010)) center bottom/0 2px no-repeat, -webkit-gradient(linear, left top, right top, from(black), to(black)) left bottom/100% 2px no-repeat, -webkit-gradient(linear, left top, right top, from(white), to(white)) left bottom/100% 100% no-repeat;
  background: linear-gradient(90deg, #00a3ff, #d41010) center bottom/0 2px no-repeat, linear-gradient(90deg, black, black) left bottom/100% 2px no-repeat, linear-gradient(90deg, white, white) left bottom/100% 100% no-repeat;
  -webkit-transition: background-size 0.3s ease;
  transition: background-size 0.3s ease;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  outline: none;
  font-size: 15px;
}

.contact-container .contact-row .contact-form-col form .name-inputs .name-input:valid, .contact-container .contact-row .contact-form-col form .name-inputs .name-input:focus {
  background-size: 100% 2px, 100% 2px, 100%;
}

.contact-container .contact-row .contact-form-col form .name-inputs .name-input:focus {
  outline: none;
}

.contact-container .contact-row .contact-form-col form .name-inputs .textbox {
  position: relative;
  height: 150px;
  top: -30%;
  width: 95%;
  border: 0px solid black;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.404);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.404);
  padding: 10px 10px;
  resize: none;
}

.contact-container .contact-row .contact-form-col form .name-inputs .textbox:focus {
  outline: none;
}

.contact-container .contact-row .contact-form-col form .submit-message {
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 10px 50px;
  background: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact-container .contact-row .contact-form-col form .submit-message:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@-webkit-keyframes down2up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
}

@keyframes down2up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*# sourceMappingURL=contact.css.map */