.landing-page-cnt {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: whitesmoke;
}

.landing-page-cnt .landingpage-bg {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  background: url("../assets/landingpagefinish1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: 1;
}

@media screen and (max-width: 1300px) {
  .landing-page-cnt .landingpage-bg {
    background: url("../assets/landingpagemedium.png");
    background-position: bottom;
    background-size: auto;
    background-repeat: no-repeat;
  }
}

.landing-page-cnt .star {
  position: absolute;
  right: 10%;
  top: 5%;
  height: 100px;
  z-index: 2;
  -webkit-animation: left 2s infinite linear;
          animation: left 2s infinite linear;
}

.landing-page-cnt .row-1 {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0%;
  background: none;
  z-index: 1;
}

.landing-page-cnt .row-1 .col-1 {
  position: relative;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1300px) {
  .landing-page-cnt .row-1 .col-1 {
    top: 0%;
    background: none;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.landing-page-cnt .row-1 .col-1 .welcome-h1 {
  position: relative;
  left: 15%;
  top: 20%;
  font-size: 50px;
  font-weight: 700;
  width: 80%;
  padding: 0px 0px;
  background: none;
  -webkit-animation: fade-down 2s;
          animation: fade-down 2s;
}

@media screen and (max-width: 1300px) {
  .landing-page-cnt .row-1 .col-1 .welcome-h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    left: 0%;
    font-size: 45px;
    padding: 0px 50px;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .landing-page-cnt .row-1 .col-1 .welcome-h1 {
    font-size: 35px;
    padding: 0px 0px;
  }
}

.landing-page-cnt .row-1 .col-1 .link-container {
  position: relative;
  top: 20%;
  left: -17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  width: 100%;
  height: 30%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0px;
}

@media screen and (max-width: 900px) {
  .landing-page-cnt .row-1 .col-1 .link-container {
    left: 0%;
    top: 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 0px;
  }
}

@media screen and (max-width: 450px) {
  .landing-page-cnt .row-1 .col-1 .link-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    top: 15%;
  }
}

.landing-page-cnt .row-1 .col-1 .link-container .link-1 {
  position: relative;
  margin-right: 20px;
  -webkit-animation: fade-up 2s;
          animation: fade-up 2s;
}

.landing-page-cnt .row-1 .col-1 .link-container .link-1 .button-1 {
  background: #d43a57;
  border: 0px solid black;
  border-radius: 20px;
  padding: 10px 40px;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.432);
          box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.432);
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
}

.landing-page-cnt .row-1 .col-1 .link-container .link-1 .button-1:hover {
  background: #0da0f2;
  text-decoration: none;
  -webkit-box-shadow: 0px 20px 5px rgba(0, 0, 0, 0.384);
          box-shadow: 0px 20px 5px rgba(0, 0, 0, 0.384);
}

.landing-page-cnt .row-1 .col-1 .link-container .link-1 .about-btn {
  position: relative;
  background: #0da0f2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.landing-page-cnt .row-1 .col-1 .link-container .link-1 .about-btn:hover {
  background: #d43a57;
  text-decoration: none;
  cursor: pointer;
}

.about-section {
  position: relative;
  height: 100%;
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1300px) {
  .about-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-section .topwave {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background: url("../assets/topwave.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

@media screen and (max-width: 1300px) {
  .about-section .topwave {
    background: url("../assets/topwavemedium.png");
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
  }
}

.about-section .about-row {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 250px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-section .about-row .info-col {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 100px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1300px) {
  .about-section .about-row .info-col {
    margin-bottom: 200px;
  }
}

.about-section .about-row .info-col .inner-col {
  position: relative;
  height: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: whitesmoke;
  -webkit-box-shadow: 0px -20px 20px rgba(0, 0, 0, 0.192);
          box-shadow: 0px -20px 20px rgba(0, 0, 0, 0.192);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1300px) {
  .about-section .about-row .info-col .inner-col {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.274);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.274);
  }
}

.about-section .about-row .info-col .inner-col:hover {
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.192);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.192);
}

.about-section .about-row .info-col .inner-col .col-img {
  position: absolute;
  height: 250px;
  top: -30%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about-section .about-row .info-col .inner-col .col-img:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.about-section .about-row .info-col .inner-col .info-h3 {
  position: relative;
  top: 35%;
  text-transform: uppercase;
  font-weight: 900;
  color: black;
}

.about-section .about-row .info-col .inner-col .info-p {
  position: relative;
  top: 40%;
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 20px;
  padding: 0px 10px;
}

.about-section .mailing-row {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-x: hidden;
}

.about-section .mailing-row .stars,
.about-section .mailing-row .star2,
.about-section .mailing-row .star3,
.about-section .mailing-row .star4,
.about-section .mailing-row .star5,
.about-section .mailing-row .star6 {
  position: absolute;
  height: 150px;
  width: 150px;
}

.about-section .mailing-row .stars {
  top: 16%;
  -webkit-animation: left2right 7s infinite linear;
          animation: left2right 7s infinite linear;
}

.about-section .mailing-row .star2 {
  top: 65%;
  -webkit-animation: left2right 8s infinite linear;
          animation: left2right 8s infinite linear;
}

.about-section .mailing-row .star3 {
  top: 25%;
  -webkit-animation: left2right 6s infinite linear;
          animation: left2right 6s infinite linear;
}

.about-section .mailing-row .star4 {
  top: 5%;
  -webkit-animation: left2right 10s infinite linear;
          animation: left2right 10s infinite linear;
}

.about-section .mailing-row .star5 {
  top: 55%;
  -webkit-animation: left2right 5s infinite linear;
          animation: left2right 5s infinite linear;
}

.about-section .mailing-row .star6 {
  top: 75%;
  -webkit-animation: left2right 7.4s infinite linear;
          animation: left2right 7.4s infinite linear;
}

.about-section .mailing-row .info-mail {
  position: relative;
  height: 600px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1300px) {
  .about-section .mailing-row .info-mail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-section .mailing-row .info-mail .newsletter-h1 {
  color: #d43a57;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.171);
  font-size: 50px;
}

@media screen and (max-width: 1700px) {
  .about-section .mailing-row .info-mail .newsletter-h1 {
    font-size: 40px;
    text-align: center;
  }
}

.about-section .mailing-row .info-mail .newsletter-p {
  color: #0da0f2;
  font-size: 20px;
  padding: 20px 20px;
}

@media screen and (max-width: 1700px) {
  .about-section .mailing-row .info-mail .newsletter-p {
    padding: 20px 20px;
    text-align: center;
  }
}

.about-section .mailing-row .info-mail .subscribe-form {
  position: relative;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}

@media screen and (max-width: 1300px) {
  .about-section .mailing-row .info-mail .subscribe-form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1050px) {
  .about-section .mailing-row .info-mail .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-section .mailing-row .info-mail .subscribe-form .subscribe-email {
  position: relative;
  width: 60%;
  margin-right: 20px;
  height: 50px;
  background: none;
  color: #d43a57;
  text-transform: uppercase;
  font-weight: 900;
  padding-left: 20px;
  border: 4px solid black;
  border-radius: 10px;
}

.about-section .mailing-row .info-mail .subscribe-form .subscribe-email::-webkit-input-placeholder {
  color: #d43a57;
}

.about-section .mailing-row .info-mail .subscribe-form .subscribe-email:-ms-input-placeholder {
  color: #d43a57;
}

.about-section .mailing-row .info-mail .subscribe-form .subscribe-email::-ms-input-placeholder {
  color: #d43a57;
}

.about-section .mailing-row .info-mail .subscribe-form .subscribe-email::placeholder {
  color: #d43a57;
}

.about-section .mailing-row .info-mail .subscribe-form .subscribe-email:focus {
  border: 4px solid #0da0f2;
  outline: none;
}

@media screen and (max-width: 1050px) {
  .about-section .mailing-row .info-mail .subscribe-form .subscribe-email {
    margin-right: 0px;
  }
}

.about-section .mailing-row .info-mail .subscribe-form .submit-button {
  position: relative;
  width: 20%;
  height: 50px;
  background: none;
  border: 4px solid black;
  border-radius: 10px;
  color: #0da0f2;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about-section .mailing-row .info-mail .subscribe-form .submit-button:hover {
  background: #0da0f2;
  color: #d43a57;
  border: 2px solid #0da0f2;
}

@media screen and (max-width: 1050px) {
  .about-section .mailing-row .info-mail .subscribe-form .submit-button {
    width: 40%;
    top: 20px;
    border: 2px solid black;
  }
}

.about-section .mailing-row .subscribe-col {
  position: relative;
  height: 700px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 1300px) {
  .about-section .mailing-row .subscribe-col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 500px;
    width: 100%;
  }
}

.scroll-up-btn-ctn {
  position: fixed;
  width: 60px;
  right: 10px;
  height: 60px;
  bottom: 10px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  color: red;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.scroll-up-btn-ctn .arrow-up {
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scroll-up-btn-ctn .arrow-up:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #0da0f2;
}

.scroll-up-btn-hidden {
  display: none;
  -webkit-transition: 0.5;
  transition: 0.5;
  -webkit-animation: fadeout 1s;
          animation: fadeout 1s;
}

#bluestar,
#star,
#redstar {
  -webkit-animation: left 3s infinite linear;
          animation: left 3s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#circle {
  -webkit-animation: tilt 5s infinite linear;
          animation: tilt 5s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#letter {
  -webkit-animation: downtoup 10s infinite ease-in-out;
          animation: downtoup 10s infinite ease-in-out;
}

@-webkit-keyframes fade-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fade-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes downtoup {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes downtoup {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes tilt {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes tilt {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes spinleft {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spinleft {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes left {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes left {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes left2right {
  0% {
    left: -300px;
  }
  100% {
    left: 2500px;
  }
}

@keyframes left2right {
  0% {
    left: -300px;
  }
  100% {
    left: 2500px;
  }
}
/*# sourceMappingURL=home.css.map */