.landing-page-cnt {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  // overflow-x: hidden;

  .landingpage-bg {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background: url("../assets/landingpagefinish1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: 1;
    @media screen and (max-width: 1300px) {
      background: url("../assets/landingpagemedium.png");
      background-position: bottom;
      background-size: auto;
      background-repeat: no-repeat;
    }
  }
  .star {
    position: absolute;
    right: 10%;
    top: 5%;
    height: 100px;
    z-index: 2;
    animation: left 2s infinite linear;
  }

  .row-1 {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0%;
    background: none;
    z-index: 1;
    .col-1 {
      position: relative;
      background: none;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 1300px) {
        top: 0%;
        background: none;
        height: 100%;
        align-items: center;
      }
      .welcome-h1 {
        position: relative;
        left: 15%;
        top: 20%;
        font-size: 50px;
        font-weight: 700;
        width: 80%;
        padding: 0px 0px;
        background: none;
        animation: fade-down 2s;
        @media screen and (max-width: 1300px) {
          display: flex;
          justify-content: center;
          width: 100%;
          left: 0%;
          font-size: 45px;
          padding: 0px 50px;
          text-align: center;
        }
        @media screen and (max-width: 650px) {
          font-size: 35px;
          padding: 0px 0px;
        }
      }
      .link-container {
        position: relative;
        top: 20%;
        left: 0%;
        display: flex;
        background: none;
        width: 100%;
        height: 30%;
        flex-direction: row;
        justify-content: center;
        padding: 50px 0px;
        @media screen and (max-width: 900px) {
          left: 0%;
          top: 10%;
          align-items: center;
          justify-content: center;
          padding: 0px 0px;
        }
        @media screen and (max-width: 450px) {
          flex-direction: column-reverse;
          justify-content: space-evenly;
          top: 15%;
        }
        .link-1 {
          position: relative;
          margin-right: 20px;

          animation: fade-up 2s;
          .button-1 {
            background: #d43a57;
            border: 0px solid black;
            border-radius: 20px;
            padding: 10px 40px;
            color: white;
            transition: 0.5s;
            box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.432);
            text-transform: uppercase;
            font-weight: 500;
            width: 100%;

            &:hover {
              background: #0da0f2;

              box-shadow: 0px 20px 5px rgba(0, 0, 0, 0.384);
            }
          }
          .about-btn {
            position: relative;

            background: #0da0f2;
            transition: 0.5s;
            &:hover {
              background: #d43a57;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

// Second part of landing page
.about-section {
  position: relative;
  height: 100%;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: 1300px) {
    align-items: center;
  }
  .topwave {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: url("../assets/topwave.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    @media screen and (max-width: 1300px) {
      background: url("../assets/topwavemedium.png");
      background-position: top;
      background-size: auto;
      background-repeat: no-repeat;
    }
  }
  .about-row {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 250px;
    background: none;
    display: flex;
    justify-content: center;
    .info-col {
      position: relative;
      height: 100%;
      width: 100%;
      margin-bottom: 100px;
      background: none;
      display: flex;
      justify-content: center;
      @media screen and (max-width: 1300px) {
        margin-bottom: 200px;
      }
      .inner-col {
        position: relative;
        height: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: whitesmoke;
        box-shadow: 0px -20px 20px rgba(0, 0, 0, 0.192);
        border-radius: 10px;
        transition: 0.5s;
        @media screen and (max-width: 1300px) {
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.274);
        }
        &:hover {
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.192);
        }
        .col-img {
          position: absolute;
          height: 250px;
          top: -30%;
          transition: 0.5s;
          &:hover {
            transform: translateY(-15px);
          }
        }
        .info-h3 {
          position: relative;
          top: 35%;
          text-transform: uppercase;
          font-weight: 900;
          color: black;
        }
        .info-p {
          position: relative;
          top: 40%;
          text-align: center;
          color: black;
          font-weight: 600;
          font-size: 20px;
          padding: 0px 10px;
        }
      }
    }
  }
  .mailing-row {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    .stars,
    .star2,
    .star3,
    .star4,
    .star5,
    .star6 {
      position: absolute;
      height: 150px;
      width: 150px;
    }
    .stars {
      top: 16%;
      animation: left2right 7s infinite linear;
    }
    .star2 {
      top: 65%;
      animation: left2right 8s infinite linear;
    }
    .star3 {
      top: 25%;
      animation: left2right 6s infinite linear;
    }
    .star4 {
      top: 5%;
      animation: left2right 10s infinite linear;
    }
    .star5 {
      top: 55%;
      animation: left2right 5s infinite linear;
    }
    .star6 {
      top: 75%;
      animation: left2right 7.4s infinite linear;
    }
    .info-mail {
      position: relative;
      height: 600px;
      background: none;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      @media screen and (max-width: 1300px) {
        align-items: center;
      }
      .newsletter-h1 {
        color: #d43a57;
        text-transform: uppercase;
        font-weight: 900;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.171);
        font-size: 50px;
        @media screen and (max-width: 1700px) {
          font-size: 40px;
          text-align: center;
        }
      }
      .newsletter-p {
        color: #0da0f2;
        font-size: 20px;
        padding: 20px 20px;
        @media screen and (max-width: 1700px) {
          padding: 20px 20px;
          text-align: center;
        }
      }
      .subscribe-form {
        position: relative;
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background: none;
        @media screen and (max-width: 1300px) {
          justify-content: center;
        }
        @media screen and (max-width: 1050px) {
          flex-direction: column;
        }
        .subscribe-email {
          position: relative;
          width: 60%;
          margin-right: 20px;
          height: 50px;
          background: none;
          color: #d43a57;
          text-transform: uppercase;
          font-weight: 900;
          padding-left: 20px;
          border: 4px solid black;
          border-radius: 10px;
          &::placeholder {
            color: #d43a57;
          }
          &:focus {
            border: 4px solid #0da0f2;
            outline: none;
          }
          @media screen and (max-width: 1050px) {
            margin-right: 0px;
          }
        }
        .submit-button {
          position: relative;
          width: 20%;
          height: 50px;
          background: none;
          border: 4px solid black;
          border-radius: 10px;
          color: #0da0f2;
          font-weight: 900;
          font-size: 20px;
          text-transform: uppercase;
          transition: 0.5s;
          &:hover {
            background: #0da0f2;
            color: #d43a57;
            border: 2px solid #0da0f2;
          }
          @media screen and (max-width: 1050px) {
            width: 40%;
            top: 20px;
            border: 2px solid black;
          }
        }
      }
    }
    .subscribe-col {
      position: relative;
      height: 700px;
      background: none;
      display: flex;
      justify-content: flex-start;
      @media screen and (max-width: 1300px) {
        justify-content: center;
        height: 500px;
        width: 100%;
      }
    }
  }
}
#bluestar,
#star,
#redstar {
  animation: left 3s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#circle {
  animation: tilt 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#letter {
  animation: downtoup 10s infinite ease-in-out;
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes downtoup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spinleft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes left {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes left2right {
  0% {
    left: -300px;
  }
  100% {
    left: 2500px;
  }
}
